.match-details p {
  margin-bottom: 0 !important;
  font-size: 0.8em;
}

.match-details h5 {
  margin-bottom: 0 !important;
  font-size: 1em;
  font-weight: bold;
}

.avatarItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatarChampion {
  width: 70px;
  height: 70px;
}

.avatarSummoner {
  width: 30px;
  height: 30px;
}

.bg-victory {
  background-color: #cad6df !important;
}

.bg-loss {
  background-color: #e4aea2 !important;
}

.main-art {
  width: 600px;
}